<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>TP 03</title>
</head>

<body>
  <app-component-header></app-component-header>

  <div class="flex-form-summary">
    <app-component-form></app-component-form>
    <app-component-product-catalogue></app-component-product-catalogue>
  </div>



</body>

<footer>
  <app-component-footer></app-component-footer>
</footer>

</html>
