<div class="listCatalogue">
  <p>TEST catalogue</p>


  <form [formGroup]="formSearchText">
    <label>Name : <input type="text" formControlName="nameFilter" /></label>
    <!-- <label>Toxicity: <input type="text" formControlName="toxicityFilter" /></label> --> 
    <button (click)="doFilterMushroomType()"> OK </button>
  </form>

  <form [formGroup]="formChoiceEdible">
    <label>Edible : </label>
      <select formControlName="edibleFilter" (change)="doFilterMushroomEdible()">
        <option> Yes </option>
        <option> No </option>
      </select> 
  </form>

  <!-- <form [formGroup]="formChoiceToxicity">
    <label>Toxicity : </label>
      <select formControlName="toxicityFilter" (change)="doFilterMushroomToxicity()">
        <option *ngFor="let pTest of getDistinctToxicity() | async"> {{ pTest }} </option>
      </select> 
  </form>  -->

 


  <!-- formControlName="edibleFilter" -->
  <div *ngFor="let p of catalogue$ | async">
    <div class="itemCatalogue">
      <div class="imgCatalogue">
        <p><img src="{{p.img}}" alt="N/A" /> </p>
      </div>
      <div class="infoCatalogue">
        <p> Name : {{p.name}}</p>
        <p> Description : {{p.description}}</p>
        <p> Edible : {{p.edible }}</p>
        <p> Poisonous : {{p.poisonous }}</p>
        <p> Toxicity : {{p.toxicity }}</p>
      </div>
    </div>
  </div>

</div>